<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	  <!-- show errors of data -->
	  <%= render 'shared/error_messages' %>
	  
	  <!-- Create name label and name text field -->
      <%= f.label :name %>
      <%= f.text_field :name %>
	  
	  <!-- Create email label and email text field -->
      <%= f.label :email %>
      <%= f.text_field :email %>

	  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>