<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- include header to page -->
    <%= render 'layouts/header' %>
    <div class="container">
	
	  <!-- add flash -->
	  <% flash.each do |key, value| %>
        <!-- <div class="alert alert-<%= key %>"><%= value %></div>-->
		
		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
	  
	  <!-- include body to page -->
      <%= yield %>
	  
	  <!-- include footer to page -->
	  <%= render 'layouts/footer' %>
	  
	  <!-- Show debug console -->
	  <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>